@font-face {
        font-family: Ubuntu;
        src: url(contents/fonts/Ubuntu-Regular.ttf);
}
html {
        scroll-behavior: smooth;
}
.centerit, .faq {
    text-align:center;
}
body {
        margin:0;
        font-family: Ubuntu;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
}
p, li {
        font-size: 20px;
}
footer, header {
        background-color: #000000;
        color: #FFFFFF;
        text-align: center;
        padding: 10px 0;
        width: 100%;
}
footer {
        min-height:15vh;
}
header {
        min-height:5vh;
}
hr {
    color: mediumpurple;
}
a, a:visited {
    color: #FF9933;
    text-decoration: underline;
}
@media (prefers-color-scheme:dark) {
    main {
        color: white;
        background-color: #404040;
    }
}
h3 {
        margin-bottom:8px;
        text-align:center;
}
.gallery {
    display: flex;
    height:auto;
    max-width:100%;
    height:auto;
}
.gallery img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    border-radius:10px;
}
@media only screen and (max-width: 768px) {
    .gallery {
        flex-wrap: wrap;
        justify-content:center;
    }
}
#compare {
	display:flex;
	justify-content: space-between;
	margin-bottom:200px;
}
button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #ff6347, #ff8c00);
    color: #ffffff;
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
button:active {
    transform: scale(0.95);
}
button:hover {
   transform: scale(1.05);
}
.lite {
  margin-left: auto;
  margin-right:10vh;
  
}
.classic {
  margin-right: auto;
  margin-left:10vh;
}
